header {
  padding: 25px 15px;

  .container {
    padding: 0;

    .row {
      .login-btn {
        background-color: #185a9d;
        border: 0;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 25px;
        margin-right: 15px;
      }

      .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        border-radius: 12px;

        .logo {
          height: auto;
          width: 20%;

          a {
            display: block;
            width: 100%;

            img {
              display: block;
              width: 100%;
              border-radius: 8px;
              height: 90px;
              width: auto;
            }
          }
        }

        .menubar {
          width: 60%;

          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              padding: 0 15px;

              a {
                text-decoration: none;
                font-size: 16px;
                display: block;
                text-transform: capitalize;
                padding: 10px 0;
                color: #0b2b3f;
                font-weight: 600;
              }
            }
          }
        }

        .btn {
          width: 20%;
          display: flex;
          justify-content: end;
          align-items: center;
        }
      }
    }
  }
}